extends ../layout/default.pug
block content 
	form(method="post" name="joinForm" action="/auth/save" onsubmit="return onJoin(this)")
		table.table.table-hover.text-center.join-tb 
			tbody 
				tr 
					td.title 아이디
					td.content
						input.form-control(type="text" name="userid" placeholder="아이디" onblur="validUserid()")
						p.valid-userid
				tr 
					td.title 패스워드
					td.content
						input.form-control(type="password" name="userpw" placeholder="패스워드")
				tr 
					td.title 패스워드 확인
					td.content
						input.form-control(type="password" name="userpwReview" placeholder="패스워드확인")
				tr 
					td.title 이메일
					td.content
						input.form-control(type="text" name="email" placeholder="이메일")
				tr
					td(colspan="2" style="border: none;")
						button.btn.btn-primary.mr-2 회원가입
						button.btn.btn-warning(type="button") 카카오로그인