extends ../layout/default
block content 
	form(action="/book/save", method="post")
		table.table.create-tb 
			tbody 
				tr 
					td 도서명
					td 
						input.form-control(type="text" name="bookName" placeholder="도서명")
				tr 
					td 저자
					td 
						input.form-control(type="text" name="writer" placeholder="저자")
				tr 
					td 내용
					td 
						input.form-control(type="text" name="content" placeholder="도서내용")
		.text-center.my-5
			button.btn.btn-primary 저장